/*generals*/
* {
  box-sizing: border-box;
  margin: 0px;
}
*img {
  width: 100%;
}
/*header*/
.page-title{
    margin-top: 100px;
}
.page-header{
    width: auto;
    height: 190px;
    background-color:rgb(33, 121, 221) ;
    background-image: url('../img/pattern.png');
    background-repeat: repeat-x;
}
h1{margin:20px 0px}
h2{color: rgb(148, 148, 148);}
cite{color: rgb(75, 142, 219);}
.data{font-size: 15px;}
/*main*/
/*p1 section*/
main{margin: 10px;}
.tim{
    margin-left: 20px;
}
.p1{
    margin-top: 20px;
}
.colored{background-color: yellow;}
/*list section*/
.list{margin-top: 20px;}