/*generals*/
* {
  box-sizing: border-box;
  margin: 0px;
  font-family: serif;
  font-family: "Merriweather", serif;
  font-weight: 400;
  font-style: normal;
}
*img {
  width: 100%;
  max-width: 100%;
}
/*header*/
.page-title {
  padding-top: 40px;
}
.page-header {
  width: auto;
  background-color: rgb(33, 121, 221);
  background-image: url("../img/pattern.png");
  background-repeat: repeat-x;
}
h1 {
  font-weight: bold;
  font-size: 50px;
  padding-top: 20px;
}
h2 {
  color: rgb(148, 148, 148);
  line-height: 20px;
  margin-bottom: 20px;
}
a {
  color: rgb(75, 142, 219);
  text-decoration: none;
  font-weight: bold;
}

/*article*/
/*p1 section*/
article,
aside {
  margin-left: 30px;
  padding-bottom: 30px;
}
p {
  margin: 20px 0px;
}

figcaption {
  font-weight: bold;
  font-size: 13px;
}

ul {
  padding: 0;
  list-style-position: inside;
  margin-bottom: 20px;
}
/*table*/

table {
  margin: 20px 0px;
  border-spacing: 0px;
  text-align: left;
}
.w50 {
  width: 50%;
}

th {
  background-color: rgb(53, 112, 180);
}

.blu {
  background-color: rgb(150, 225, 255);
}
/*aside*/
div {
  width: 200px;
  height: 200px;
  margin-bottom: 20px;
}
.monitor {
  background-image: url("../img/monitor.jpg");
  background-size: cover;
}
.graph {
  background-image: url("../img/graph.jpg");
}
